@import "../../variable.scss";


.alerttt{
    margin: 10px 0px;
    margin-top: 15px;
    padding: 15px;
    background-color: rgb(222, 255, 255);
    color: gray;
    width: 100%;
    border-radius: 5px;
}

.TBcolor{
    color: $active-btn-color !important;
}