//light mode color=====================================
//normar color
$transparent: transperent;
$text-color-b: black;
$text-color-w: white;
$text-color-dark : rgb(59, 59, 59);
//button active color
$active-btn-color:#eeab00;
$active-btn-color2:#a37500;
$hover-color: red; 

